header h1 {
    text-align: center;
    background-color: aqua;
    color: gray;
}
main section ul li {
    font-size: larger;
    text-align: center;
    background-color: blanchedalmond;
    color: slateblue;
}
footer section ol li {
    background-color: rgb(132, 35, 161);
    font-size: larger;
}