body{
    background-color: lightslategrey;
}

header h1 {
    text-align: center;
    background-color: aqua;
    color: gray;
}
section {
    border-style: solid;
}
main section ul li {
    font-size: larger;
    text-align: center;
    background-color: blanchedalmond;
    color: slateblue;
}
footer section ol li {
    background-color: rgb(11, 228, 109);
    font-size: larger;
}